/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

html {
	box-sizing: border-box;
	font-size: 1.6rem;
}

body {
  background: #000;
	font-family: 'Cardo', serif;
	overflow: hidden;
}

input, textarea, button {
	font-family: inherit
}

.blue-fog {
	background-image: url("../public/bluefog.jpeg");
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.8;
}

main {
	background-color: rgb(5 2 0);
	overflow: scroll;
	height: calc(100vh - 116px);
}

main::before {
	background-image: url("../public/slate-4772749.jpg");
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.1;
	min-height: 100%;
}

main section {
	padding: 32px 0;
	position: sticky;
}

h1 {
	position: sticky;
	width: 100%;
	top: 0;
  color: rgb(211, 173, 69);
	font-size: 2em;
  text-align: center;
	text-shadow: 3px 3px #000;
  padding: 32px 0;
	border-bottom: 1px dashed rgb(211, 173, 69);
}

ul {
	display: flex;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	flex-flow: row wrap;
	align-items: flex-start;
}

ul li {
	display: inline-block;
}

.card {
	display: flex;
	position: relative;
	margin: 0.5rem 0 1rem 0;
	background-color: #0e1422c2;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 2px;
	box-shadow: 2px 2px 4px 4px rgb(0 0 0 / 14%),
	            0 3px 1px -2px rgb(0 0 0 / 12%),
							0 1px 5px 0 rgb(0 0 0 / 20%);
	height: 120px;
	margin: 12px;
}

.card textarea {
	resize: none;
	background-color: transparent;
	border: none;
	color: #c9c9c7;
	text-shadow: 2px 2px #000;
	font-size: 0.8em;
	padding: 12px;
	max-width: inherit;
	height: calc(100% - 24px);
}

.card textarea:focus {
	outline-color: #d3ad44;
	background-color:rgba(0, 0, 0, 0.4);
	outline-width: 1px;
	outline-style: dashed;
}

.card button {
	font-size: 1em;
	min-width: 243px;
	padding: 12px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	color: rgb(211, 173, 69);
}

.card button:hover {
	cursor: pointer;
	border: 1px dashed rgb(226, 191, 94);
	background-color:rgba(0, 0, 0, 0.4);
	color: rgb(226, 191, 94);
}

.card {
	-webkit-animation: slide-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both, fade-in 0.6s ease-in both;
	        animation: slide-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both, fade-in 0.6s ease-in both;
}

.strike {
	text-decoration: line-through;
	text-decoration-color: #fff;
	text-decoration-thickness: from-font;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
		opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
		opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
		opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
		opacity: 1;
  }
}
